@model Features
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Edit</h1>
            <form asp-action="edit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input class="form-control" asp-for="Title" placeholder="Enter Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc">Desc</label>
                    <input class="form-control" asp-for="Desc" placeholder="Enter Desc">
                    <span class="text-danger" asp-validation-for="Desc"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input class="form-control" asp-for="ImageFile" placeholder="Select image">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                    @if (Model.Image != null)
                    {
                        <div class="img-box" style="position:relative;display:inline-block ;margin-top:20px">                      
                            <input type="hidden" name="Image" value="@Model.Image" />
                            <img width="100" src="~/uploads/features/@Model.Image" />
                        </div>
                    }
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>