* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
main {
  #product-detail-section {
    .productdetail-nav-area {
      height: 80px;
      line-height: 80px;
      p {
        font-size: 16px;
        a {
          text-decoration: none;
          color: #999;
          transition: 0.3s linear;
          &:hover {
            color: #fcbe00;
          }
        }
      }
    }
  }
  #product-detail {
    .product-detail-nav {
      display: flex;
      align-items: flex-start;
      flex-direction: row !important;
      .product-nav-tabs {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        .product-nav-item {
          margin-bottom: 20px;
          width: 120px;
          border: 1px solid #fcbe00;
          .nav-link {
            background-color: #fff;
            border: none;
          }
        }
      }
      .product-detail-thumb {
        font-size: 16px;
        .tab-content {
          img {
            width: 100%;
          }
        }
      }
    }
    .product-detail-content {
      h6 {
        font-size: 24px;
        color: #0068c9;
      }
      .product-rating {
        display: flex;
        .rating {
          padding: 0;
          margin-right: 20px;
          i {
            color: #fcbe00;
          }
        }
        span {
          color: #999;
          margin-right: 20px;
          font-size: 14px;
          a {
            font-size: 14px;
            text-decoration: none;
            color: #999;
          }
        }
      }
      .product-price {
        span {
          display: inline-block;
          color: #222;
          font-size: 28px;
          font-weight: 600;
          padding-bottom: 10px;
        }
        border-bottom: 1px solid #e5e5e5;
      }
      .product-features {
        margin-top: 20px;
        ul {
          padding: 5px;
          li {
            font-size: 15px;
            color: #666;
            font-weight: normal;
          }
        }
      }
      .product-card-option {
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2;
        .number {
          margin-right: 20px;
          span {
            cursor: pointer;
          }
          .minus,
          .plus {
            width: 20px;
            height: 20px;
            background: #f2f2f2;
            border-radius: 4px;
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
            vertical-align: middle;
          }
          input {
            height: 50px;
            width: 100px;
            text-align: center;
            font-size: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        button {
          border: none;
          background-color: #fcbe00;
          padding: 10px;
          margin-right: 10px;
          border-radius: 5px;
          transition: 0.3s linear;
          &:hover {
            background-color: #fff;
            outline: 1px solid #fcbe00;
            color: #fcbe00;
          }
        }
      }
      .product-info {
        padding-bottom: 20px;
        .product-info-category {
          display: block;
          span {
            font-size: 14px;
            color: #666;
            a {
              font-size: 14px;
              color: #666;
              text-decoration: none;
              transition: 0.3s linear;
              &:hover {
                color: #fcbe00;
              }
            }
          }
        }
        .product-info-brand {
          display: block;
          span {
            font-size: 14px;
            color: #666;
            a {
              text-decoration: none;
              font-size: 14px;
              color: #666;
              transition: 0.3s linear;
              &:hover {
                color: #fcbe00;
              }
            }
          }
        }
      }
    }
  }
  #product-about {
    .product-about-headers {
      margin-bottom: 20px;
      border-bottom: 1px solid #e2e2e2;
      display: flex;
      .product-about-header {
        letter-spacing: 1px;
        text-decoration: none;
        margin-bottom: 10px;
        margin-right: 50px;
        font-size: 20px;
        color: #b6b6b6;
        transition: 0.3s linear;
      }
      .active {
        color: #fcbe00;
      }
    }
    .product-about-bodies{
      margin-top: 20px;
      .product-description-body {
        p {
          color: #1f2024;
          font-size: 16px;
          margin-bottom: 20px;
        }
        h6 {
          font-weight: bold;
          font-size: 16px;
          color: black;
          margin-bottom: 20px;
        }
      }
      .product-additional-info-body {
        display: none;
        tbody {
          tr {
            td {
              padding: 20px;        
            }
            .td-header {
                font-weight: bold;
              }
          }
        }
      }
      .product-reviews-body{
        display: none;
          .review-rate{
              h5{
                  margin: 0;
                  font-size: 100px;
                  color: #5aab19;
                  font-weight: 500;
                  letter-spacing: 1px;
              }
              .review-star{
                  i{
                      color: #fcbe00;
                      font-size: 16px;
                  }
              }
              span{
                  color: #666;
                  font-size: 14px;
              }
          }
          .product-reviews-header{
            text-align: center;
            a{
              text-decoration: none;
              color: #fcbe00;
            }
          }
          .product-review-item{
            display: flex;
            .author-img{
              border-radius: 50%;
              margin-right: 20px;
              img{
                border-radius: 50%;
              }
            }
            .product-review-content{
              .rate-info{
                color: #fcbe00;
              }
              .product-review-author-name{
                margin-top: 10px;
                
                h6{
                  font-size: 16px;
                  text-transform: capitalize;
                  font-weight: bold;
                  span{
                    font-weight: normal;
                    color: #999;
                  }
                }
              }
              p{
                font-size: 16px;
                color: #666;
                margin-bottom: 20px;
              }
              
            }
          }
          .product-detail-comment-header{
            h3{

            }
            p{

            }
          }
          .product-detail-comment{

            .comment-rating{
              span{

              }
              ul{
                list-style: none;
                padding: 0;
                display: flex;
                li{
                  margin-right: 5px;
                  a{

                    i{
                      color: #fcbe00;
                      &:hover{

                      }
                    }
                  }
                }
              }
            }
            .comment-input-block{
              .form-check{
                margin-bottom: 20px;
                label{
                  font-size: 15px;
                  color: #454545;
                }
              }
              .comment-input{
                margin-bottom: 20px;
                input{
                  height: 45px;
                  padding:20px;
                  border: 1px solid #e2e2e2;
                  width: 100%;
                }
                textarea{
                  width: 100%;
                  border: 1px solid #e2e2e2;

                }
              }
              .comment-submit{
                button{
                  background-color: #fcbe00;
                  border: none;
                  padding: 9px 20px;
                  font-weight: 600;
                  transition: 0.3s linear;
                  &:hover{
                    background-color: #fff;
                    color: #fcbe00;
                    outline: 1px solid #fcbe00;
                  }
                }
                margin-bottom: 50px;
              }
            }
          }
      }
    }
  }
}
