@model AdminProfileViewModel
<div class="container">
    <div class="row">
        <form asp-action="edit" method="post" id="member-update-form">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Country">Country<span>*</span></label><br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="text" id="country" asp-for="Country" /> <br />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="username" asp-for="UserName">Username<span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="text" id="username" asp-for="UserName" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="surname" asp-for="Fullname">Surname<span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="text" id="surnmae" asp-for="Fullname" />
                                <span asp-validation-for="Fullname" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="adress" asp-for="Adress">Adress <span>*</span></label> <br />
                                <input type="text" style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                                       asp-for="Adress"
                                       id="adress"
                                       placeholder="Street adress" />
                                <span asp-validation-for="Adress" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="City" for="Towncity">Town / City <span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="text" asp-for="City" id="towncity" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="email" asp-for="Email">Email <span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="email" asp-for="Email" id="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="col-md-12">
                                <label asp-for="Phonenumber" for="phone">Phone <span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="text" id="phone" asp-for="Phonenumber" />
                                <span asp-validation-for="Phonenumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="CurrentPassword" for="currentpassword">Current Password <span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="password" id="currentpassword" asp-for="CurrentPassword" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Password" for="password">Password <span>*</span></label> <br />
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="password" id="password" asp-for="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="ConfirmPassword" for="confirmpassword">Confirm Password <span>*</span></label>
                                <input style="width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="password" id="confirmpassword" asp-for="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="submit-btn" style="margin-top:50px">
                                <button style="padding: 15px; background-color: blue; color: white; border: none; border-radius: 10px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;" type="submit" form="member-update-form">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div col-lg-2></div>
            </div>
        </form>
    </div>
</div>