    <!-- Main Start -->
    <main>
        <!-- Banner Section Start -->
        <section id="custom-banner-section-contactus">
            <div class="page-header">
                <p class="page-header-text">Contact Us</p>
                <span><a asp-controller="home" asp-action="index">Home / </a>Contact Us</span>
            </div>
        </section>
        <!-- Banner Section End  -->
        <!-- ------------------- -->
        <!-- Location Section Start -->
        <section id="location-section">
            <div class="container">
                <div class="row">
                    <div class="location-section-title">
                        <span>Location Store</span>
                        <h4>Where We Are</h4>
                        <p>
                            The perfect way to enjoy brewing tea on low hanging fruit to
                            identify. Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat, vel illum dolore eu
                            feugiat nulla facilisis.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item">
                            <div class="location-item-image">
                                <img src="~/assets/img/contactus/location-1.jpg" alt="">
                            </div>
                            <h6>26 Rue Pelleport - Paris</h6>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Find us</span>
                                    <p>Rue Saint-Antoine, Paris, France</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Call us</span>
                                    <p>(+100) 123 456 7890</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Mail us</span>
                                    <p>store@company.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item">
                            <div class="location-item-image">
                                <img src="~/assets/img/contactus/location-2.jpg" alt="">
                            </div>
                            <h6>150 Stanley Rd - London</h6>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Find us</span>
                                    <p>Brick Ln, Spitalfields, London E1, UK</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Call us</span>
                                    <p>(+100) 123 456 7890</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Mail us</span>
                                    <p>store@company.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item">
                            <div class="location-item-image">
                                <img src="~/assets/img/contactus/location-3.jpg" alt="">
                            </div>
                            <h6>1357 Prospect - New York</h6>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Find us</span>
                                    <p>Atlantic, Brooklyn, New York, US</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Call us</span>
                                    <p>(+100) 123 456 7890</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Mail us</span>
                                    <p>store@company.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item">
                            <div class="location-item-image">
                                <img src="~/assets/img/contactus/location-4.jpg" alt="">
                            </div>
                            <h6>86 Georgia Rd - Mardrid</h6>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Find us</span>
                                    <p>Calle del Correo, 4, Madrid, Spain</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Call us</span>
                                    <p>(+100) 123 456 7890</p>
                                </div>
                            </div>
                            <div class="location-item-item">
                                <div class="location-item-location-icon">
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                                <div class="location-item-location-content">
                                    <span>Mail us</span>
                                    <p>store@company.com</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Location Section End -->
        <!-- -------------------- -->
        <!-- Map Section Start -->
        <section id="map-section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4284901457027!2d49.85175681571572!3d40.37719496596635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2s!4v1646638557415!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <!-- Map Section End -->
    </main>
    <!-- Main End -->
   