@model MemberRegisterViewModel   
 <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap text-center">
                            <nav aria-label="breadcrumb">
                                <h1 class="breadcrumb-title">Login-Register</h1>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->
        <!-- login register wrapper start -->
        <div class="login-register-wrapper section-padding">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row">
                        <!-- Register Content Start -->
                        <div class="col-lg-12">
                            <div class="login-reg-form-wrap signup-form">
                                <h2>Singup Form</h2>
                                <form asp-action="register" method="post">
                                    <div class="single-input-item">
                                        <label asp-for="FullName">Full Name</label>
                                        <input asp-for="FullName" placeholder="Full Name" required />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="single-input-item">
                                        <label asp-for="UserName">User Name</label>
                                        <input asp-for="UserName" placeholder="User Name" required />
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>
                                    <div class="single-input-item">
                                        <label asp-for="Email">Email</label>
                                        <span asp-validation-for="FullName"></span>
                                        <input asp-for="Email" type="email" placeholder="Enter your Email" required />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                <label asp-for="Password">Password</label>
                                                <input asp-for="Password" type="password" placeholder="Enter your Password" required />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                                <input asp-for="ConfirmPassword" type="password" placeholder="Repeat your Password" required />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta">
                                            <div class="remember-meta">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                                    <label class="custom-control-label" for="subnewsletter">Subscribe Our Newsletter</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="single-input-item">
                                        <button type="submit" class="btn">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Register Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->
    </main>
 