  <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="custom-error">
              <div class="error-img">
                <img src="~/assets/img/404/404.png" alt="" />
              </div>
              <h5>Page Not Found</h5>
              <p>
                Sorry, the page you've requested is not available. Please try
                searching for something else or return to Homepage.
              </p>
              <a asp-controller="home" asp-action="index">Return To Homepage</a>
            </div>
          </div>
        </div>
      </div>   </main>

  