@model Brand
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Edit</h1>
            <form asp-action="edit" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label asp-for="Name">Name</label>
                        <input class="form-control" asp-for="Name" placeholder="Enter Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="ImageFile">ImageFile</label>
                        <input class="form-control" asp-for="ImageFile" placeholder="Select image">
                        <span class="text-danger" asp-validation-for="ImageFile"></span>
                        @if (Model.Image != null)
                        {
                            <div class="img-box" style="position:relative;display:inline-block ;margin-top:20px">
                                <input type="hidden" name="Image" value="@Model.Image" />
                                <img width="100" src="~/uploads/brands/@Model.Image" />
                            </div>
                        }
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>