* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}
#loadingwrapper{
  display: none;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-image: linear-gradient(135deg,#5C83E3 0%,#5C83E3 100%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  #loading{
      position: absolute;
      top: 47%;
      left: 47%;
      #shadow{
          width: 50px;
          height: 5px;
          background: #000;
          opacity: 0.1;
          position: absolute;
          top: 59px;
          left: 0;
          border-radius: 50%;
          animation: shadow .5s linear infinite;
      }
      #box{
          width: 50px;
          height: 50px;
          background: #fff;
          animation: animate .5s linear infinite;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 3px;
      }
      @keyframes animate{
          17%{
              border-bottom-right-radius: 3px;
          }
          25%{
              transform: translateY(9px) rotate(22.5deg);
          }
          50%{
              transform: translateY(18px) scale(1,0.9) rotate(45deg);
              border-bottom-right-radius: 40px;
          }
          75%{
              transform: translateY(9px) rotate(67.5deg);
          }
          100%{
              transform: translateY(0) rotate(90deg);
          }
      }
      @keyframes shadow{
          50%{
              transform: scale(1.2,1);
          }
      }
  }
}
footer {
  background-color: #585ce9;
  padding-top: 70px;
  img {
    margin-bottom: 30px;
  }
  p {
    font-size: 14px;
    color: white;
    letter-spacing: 0.88px;
    line-height: 26px;
    font-weight: 400;
  }
  .footer-ul li {
    list-style-type: none;
    color: white;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    padding-bottom: 10px;
  }
  h5 {
    font-weight: 400;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  li i {
    font-size: 10px;
  }
  span {
    color: white;
    font-size: 14px;
    letter-spacing: 0.88px;
    line-height: 26px;
    font-weight: 400;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.88px;
    line-height: 26px;
    font-weight: 400;
  }
  .footer-ul li:hover {
    transform: scale(1.1);
  }
  .icons {
    display: flex;
    list-style-type: none;
  }
  .icons li {
    margin-right: 5%;
    cursor: pointer;
  }
  .icons li i {
    font-size: 20px;
    color: white;
  }
  .footerhr {
    width: 100%;
    height: 2px;
    color: lightgray;
  }
  .fp {
    text-align: center;
    border-top: 1px solid lightgray;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
header {
  nav {
    font-family: "Nunito", sans-serif;
    height: 115px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .navigation {
      flex-direction: row;
      justify-content: space-around;
      .hamburger {
        cursor: pointer;
        display: none;
        span {
          display: block;
          margin-bottom: 5px;
          width: 30px;
          height: 2px;
          background-color: black;
        }
        #span1 {
          transform: rotate(left center);
        }
        #span3 {
          transform: rotate(left center);
        }
      }
      .nav-logo {
        img {
          height: auto;
        }
      }
      .nav-content {
        position: relative;
        top: -5px;
        ul {
          display: flex;
          list-style: none;
          font-weight: 400;
          color: #6f8ba4;
          // transition: all 0.3s;
          height: 40px;
          line-height: 40px;
          border: transparent;
          letter-spacing: 1px;
          margin-right: 20px;
          li {
            // height: 0;
            transition: 0.3s;
            &:hover ol {
              height: 173px;
              opacity: 1;
            }
            margin-right: 45px;
            .discover {
              transition: color 0.3s;
              text-decoration: none;
              font-size: 14px;
              color: #6f8ba4;
              letter-spacing: 1px;
              height: 40px;
            }
            a {
              width: 100%;
              text-decoration: none;
              font-size: 14px;
              color: #6f8ba4;
              letter-spacing: 1px;
              height: 40px;
              transition: color 0.3s;
            }
            ol {
              background-color: white;
              height: 0;
              z-index: 5;
              transition: all 0.3s;
              &:hover {
                opacity: 1;
                // height: 173px;
              }
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              list-style: none;
              position: absolute;
              width: 210px;
              padding: 0;
              margin: 0;
              height: 0;
              overflow: hidden;
              li {
                padding-left: 20px;
                width: 210px;
                &:hover {
                  background: rgba(128, 128, 128, 0.123);
                  border-left: 5px solid #585ce9;
                  transition: all 0.2s linear;
                  cursor: pointer;
                  padding-left: 30px;
                }
                &:hover a {
                  background: rgba(128, 128, 128, 0);
                  border: none;
                  outline: none;
                }
                border-bottom: 1px solid #f5f5f5;
                a {
                  background: #fff;
                  color: #6f8ba4;
                  height: 40px;
                  line-height: 40px;
                  position: relative;
                  font-size: 13px;
                  text-align: left;
                  padding: 0;
                }
              }
            }
            .fa-chevron-down {
              font-size: x-small;
            }
          }
        }
      }
      .nav-buttons {
        float: right;
        button {
          font-size: 12px;

          height: 30px;
        }
        #signin {
          background-color: white;
          transition: 0.3s;
          &:hover {
            background-color: #585ce9;
            color: white;
          }
          color: #585ce9;
          padding-left: 25px;
          padding-right: 25px;
          border: 1px solid #585ce9;
          border-radius: 5px;
        }
        #signup {
          transition: 0.3s;
          &:hover {
            background-color: white;
            color: #585ce9;
            border: 1px solid #585ce9;
          }
          margin-left: 12px;
          color: white;
          padding-left: 25px;
          padding-right: 25px;
          border: 1px solid #2f3166a6;
          border-radius: 5px;
          background: #585ce9;
        }
      }
    }
  }
  .accordion {
    transition: 0.3s;
    display: none;
    background-color: white;
    overflow: hidden;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .accordionheader {
      cursor: pointer;
      font-size: 10px;
      padding: 20px;
      letter-spacing: 2px;
      color: #3b566e;
      overflow: hidden;
      transition: 0.3s;
      &:hover {
        transform: translateX(10px);
      }
    }
    .accordionbody {
      display: none;
      a {
        cursor: pointer;
        display: block;
        font-size: 10px;
        padding: 20px;
        letter-spacing: 2px;
        color: #3b566e;
        overflow: hidden;
        transition: 0.3s;
        &:hover {
          transform: translateX(10px);
          text-decoration: none;
          color: #3b566e;
        }
        i {
          float: right;
        }
      }
    }
  }
}
main {
  padding-top: 120px;
  #sec1 {
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    background-image: url(../../images/indeximages/sec1img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .layout {
      width: 100%;
      background-color: #555ae986;
      height: 300px;
      h2 {
        font-weight: 400;
        font-size: 36px;
        height: 50px;
        line-height: 46px;
        letter-spacing: 2px;
        color: white;
        text-align: center;
      }
      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }

      .adiv {
        margin-top: 100px;
        p {
          color: white;
          text-align: center;
          text-decoration: none;
          font-weight: 200;
          margin-left: 10px;
        }
        span {
          color: lightgray;
        }
      }
    }
  }
  #sec2 {
    .contactdiv {
      width: 90%;
      position: relative;
      margin-left: 5%;
      margin-top: -90px;
      background-image: linear-gradient(135deg, #585ce9 0%, #5c83e3 100%);
      text-align: center;
      background-color: blue;
      color: white;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 50px;
      #mail1 {
        margin-bottom: 10px;
      }
      i {
        display: block;
        float: left;
        span {
          font-weight: 200;
          padding-left: 20px;
        }
      }
      ul{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 20px;
        li{
          i{
            font-size: 22px;
            margin-right: 20px;
          }
        }
      }
    }
  }
  #sec3{
    font-family: "Nunito", sans-serif;
    .form{
      #sec3h5{
        color: #6F8BA4;
        letter-spacing: 1px;
        line-height: 26px;
        margin-bottom: 20px;
      }
      #p2{
        margin-bottom: 28px;
        color: #6F8BA4;
        letter-spacing: 1px;
        line-height: 26px;
      }
      #nameinput{
        padding-left: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100%;
        margin-bottom: 25px;
        height: 50px;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
        &:focus{
          padding-left: 20px;
          outline-color: #585CE9;
        }
      }
      #mailinput{
        padding-left: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
        &:focus{
          padding-left: 20px;
          outline-color: #585CE9;
        }
      }
      #yminput{
        padding-left: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100%;
        height: 150px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        transition: 0.3s;
        &:focus{
          padding-left: 20px;
          outline-color: #585CE9;
        }
      }
      button{
        width: 160px;
        height: 44px;
        line-height: 44px;
        color: white;
        background-color: #585CE9;
        letter-spacing: 1px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  #mynav {
    .nav-content {
      display: none;
    }
    #signin {
      display: none;
    }
    #signup {
      display: none;
    }
    .hamburger {
      float: right;
      display: block;
    }
  }
  header {
    .accordion {
      margin-top: 30px;
    }
  }
  #sec2 {
    .contactdiv {
      width: 100%;
      i {
        margin-bottom: 10px;
      }
    }
  }
}
